body{
    background-color:rgb(43, 138, 247);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#task{
    width: 300px;
    height: 30px;
    background-color: white;
    border: none;
}


#add{
    font-size: 15px;
    width: 130px;
    height: 32px;
    background-color:tomato;
    color: white;
    padding-right: 10px;
    cursor: pointer;
    border-style: none;
}

.remove{
    margin-top: 13px;
    background-color: teal ;
    float: right;
    clear: both;
    padding-right: 20px;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    border-style: none;

}

#wrapper{
    width:500px ;
    background-color: rgb(21, 4, 121) ;
    margin-top: 80px;
    margin-left:420px ;
    padding-left: 30px;
    padding-top: 10px;
    padding-right:30px ;
    padding-bottom:65px ;
    border: 3px solid white;
    border-radius: 10px;


}


ul{

    list-style:none;
    text-align:left ;
    line-height:35px ;
}

