
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.html,body{
    margin: 0px;
}
/*-------------------------------------*/




#logo2{
    display: none;
}
#logo2 img{
    cursor: pointer;
    height: 60px;
    padding-left: 10px;

}

/*-------------------------------------*/

.navbar{
    background-color:  #51409a;
    box-shadow:2px 2px 5px #635896;
    display: flex;
    flex-wrap: no-wrap;
    height: 110px;
}

/*-------------------------------------*/

.logo{
    align-content: center;
    align-items: center;
    flex: 1;
    order: 1;
    flex-shrink: 3;
}



#logo1 img{
    cursor: pointer;
    height: 70px;
    padding-left: 30px;
    
}


/*-------------------------------------*/


.nav-links{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: baseline;
    order: 2;
    flex: 3;
}


.nav-links a{
    z-index: 3;
    color: white;
    cursor: pointer;
    text-align: center;
    list-style: none;
    font-family: raleway;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    transition: transform .2s;
}


.nav-links a:hover{
    transform: scale(1.1);
    color: white;
}

/*-------------------------------------*/

.contact-toggle{
    display: none;
}
/*-------------------------------------*/
.contact_btn{
    flex: 1;
    order: 3;
}
 .contact_btn .con-btn{
     margin-left: 40px;
 }

 /*--------------------burger icon-----------------*/
.burger{
    cursor: pointer;
    flex: 1;
    order: 3;
    display: none;
}
.burger div{
    background-color:white;
    height:3px ;
    width: 30px ;
    margin: 5px;
    border-radius: 2px;
}

/*--------------------burger icon--------------*/



@media screen and (max-width:1080px){
    #logo1 img{
        height: 60px;
        padding-left: 15px;
    }
    .nav-links a{
        font-size: 14px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width:970px){
    #logo1 img{
        height: 55px;
        padding-left: 10px;
    }
    .nav-links a{
        font-size: 13px;
        padding-right: 14px;
        padding-left: 14px;
    }
}

@media screen and (max-width:840px){
    html,body{
        overflow-x: hidden;
    }
    #logo2{
        display: block;
    }
    #logo1{
        display: none;
    }
    .contact_btn{
        display: none;
    }
    .burger{
        display: block;
    }
    .burger div{
        margin-left: 70%;
    }
    .nav-links{
        margin-top: 50px;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color:#51409a;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        width: 50%;
    }
    .nav-links a{
        padding-top: 20px;
        padding-bottom: 10px;
        position: relative;
        font-size: 17px;
        text-align : left;
    }

    .nav-links .contact-toggle{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}
nav{
    margin-bottom: 110%;
}





/*------------------------------------------------footer section-------------------------------------------------*/

.footer{
    color: white;
    background-color: #51409a;
    box-shadow:2px 2px 5px #635896;
    
}

.footer img{
    height: 55px;
    filter: invert(1);
    transition: transform .2s;
    margin-left: 5px;
}
.footer img:hover{
    filter: invert(0);
    transform: translateY(-10px);
}


.social-icons{
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width:640px){
    .footer img{
        height: 40px;
    }
}

/*------------------------------------------------footer section over-------------------------------------------------*/