
body{
  background:url('bg_img1.jpg') fixed center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.info-block{
	margin-top: 20px;
	margin-left: 10%;
}

#Info_Heading{
	font-family: 'Muli', sans-serif;
	color: #292929;
	font-size: 20px; 
	margin-left: 15%;
}

input[type=text], select {
  width: 40%;
  padding: 7px 14px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 7px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  margin-left: 180px;
  margin-top: 0px;
  padding-top: 0px;
}

#custom-button{
	padding: 5px;
	color: white;
	background-color: #009578;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

#custom-button:hover{
	background-color: #00b28f;
}

#custom-text{
	margin-left: 10px;
	font-family: sans-serif;
	color: #000;
}


#custom-button-save{
	position: absolute;
	float: right;
	right: 19%;
	bottom:10%;
	color: white;
	padding: 6px 30px;
	background-color: rgb(255, 0, 0);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#custom-button-save:hover{
	background-color: #038731;
}